<ul th:fragment="options" class="list-group">
    <li th:each="result : ${results}" class="list-group-item list-group-item-action"
        th:data-id-fornecedor="${result.idFornecedor}" th:data-nome="${result.nome}">
        <div class="d-flex flex-nowrap align-items-center">
            <small class="text-muted ms-2 text-nowrap me-1" th:text="'ID ' + ${result.idFornecedor}"></small>
            <div class="flex-grow-1 text-truncate">
                <strong th:text="${result.nome}"></strong>
            </div>
        </div>
    </li>
</ul>