<ul th:fragment="options" class="list-group">
    <li th:each="result : ${results}" class="list-group-item list-group-item-action"
        th:data-id-produto="${result.idProduto}" th:data-nome-produto="${result.nome}">
        </small>
        <strong th:text="${result.nome}">Produto</strong>
        <small class="text-muted ms-2" th:text="'R$ ' + ${result.precoAtual}"></small>
        <p class="m-0">
            <small th:text="'ID ' + ${result.idProduto}"></small>
            <small th:if="${result.codigoBarras != null}" th:text="'COD. BARRAS ' + ${result.codigoBarras}" class=""></small>
        </p>
    </li>
</ul>