<div th:fragment="resultado" id="resultado-relatorio">
    

    <div th:if="${relatorio.erro != null}" class="alert alert-danger" th:text="${relatorio.erro}"></div>

    <div th:if="${view.relatorio}">
        <div class="row text-center mb-3" th:with="compras=${view.relatorio.compras}">
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <i class="bi bi-cart fs-3 text-primary"></i>
                        <h6 class="mt-2">Total de Compras</h6>
                        <h4 th:text="${compras.getTotalElements() ?: 0}"></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <i class="bi bi-credit-card fs-3 text-danger"></i>
                        <h6 class="mt-2">Custo Total</h6>
                        <h4>R$ 
                            <span th:if="${view.relatorio.custoTotal != null}" th:text="${#numbers.formatDecimal(view.relatorio.custoTotal,1,'POINT',2,'COMMA')}"></span>
                            <span th:unless="${view.relatorio.custoTotal != null}">0,0</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${view.relatorio != null and relatorio.compras != null}" th:with="compras=${view.relatorio.compras}" class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Compras</h5>
                <h6>Período: <span th:text="${view.relatorio.interval}" class="text-info"></span></h6>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 5%"></th>
                        <th>Data</th>
                        <th>Custo</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${compras}">

                        <td class="text-center">
                            <a th:href="@{/compras(tipo=idCompra,termo=${c.idCompra})}" class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-receipt"></i>
                            </a>
                        </td>

                        <td>
                            <span th:text="${#temporals.format(c.data, 'dd/MM/yyyy')}"></span><br>
                            <small class="text-muted" th:text="${#temporals.format(c.data, 'HH:mm')}"></small>
                        </td>
                        
                        <td class="fw-bold text-secondary">
                            R$ <span th:text="${#numbers.formatDecimal(c.total,1,'POINT',2,'COMMA')}"></span>
                        </td>
                        
                        <td th:text="${c.observacao ?: '-'}"></td>
                    </tr>
                </tbody>

                <script>
                    // Initializing tooltip
                    document.addEventListener('DOMContentLoaded', function () {
                        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                        tooltipTriggerList.map(function (tooltipTriggerEl) {
                            return new bootstrap.Tooltip(tooltipTriggerEl)
                        })
                    });
                </script>
            </table>
            <!-- Page Navigation -->
            <div th:replace="~{fragments/page-nav :: page-nav}"></div>
        </div>
    </div>
</div>