.sidebar {
    background: #f8f9fa;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.sidebar.collapsed {
    width: 80px;
}
.sidebar .nav-link {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar.collapsed .nav-link span {
    display: none;
}

#conteudo {
    width: 100vw;
    justify-content: center;
    height: 100vh;
    margin-left: 250px;
    padding: 1rem;
}

#conteudo.collapsed {
    margin-left: 80px;
}

label {
    margin-right: 10px;;
}

input[type='text'] {
    margin-top: 5px;
    margin-bottom: 5px;
}

#autocomplete-dropdown .dropdown-menu {
    display: none;
}

#autocomplete-dropdown .dropdown-menu.show {
    display: block;
}
