<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="p-4">
    <div class="container">
        <h1>Bem-vindo!</h1>
        <button id="listarProdutos" class="btn btn-primary mb-3">Listar Produtos</button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalProduto">Novo Produto</button>

        <div id="resultado" class="mt-3"></div>

        <!-- Fragmento Modal -->
        <div th:replace="~{fragments/cadastroProduto :: modalProduto}"></div>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>