<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RS Security</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <div class="sidebar bg-dark">
        <div class="sidebar">
            <button onclick="loadPage('home')">Home</button>
            <button onclick="loadPage('produto')">Produtos</button>
        </div>
    </div>

    <div class="main-container" id="conteudo">
        
    </div>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/main.js"></script>
</body>

</html>