<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Produtos</title>
</head>

<body>

    <div layout:fragment="content">

        <div class="container py-4" th:fragment="content" data-page-id="produtos">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="mb-0">Produtos</h1>
                <button id="new-produto" class="btn btn-success">+ Novo Produto</button>
            </div>
            <form id="search-form" class="d-flex flex-wrap align-items-center" hx-get="/produtos"
                hx-target="#tabela-produtos" hx-push-url="true" hx-select="#tabela-produtos">
                <label for="tipo">Buscar por:</label>
                <select id="search-type" name="tipo" class="form-select me-2 w-auto">
                    <option value="nome">Nome</option>
                    <option value="id">ID</option>
                </select>

                <label for="idCategoria">Filtrar:</label>
                <select id="categoria" name="idCategoria" class="form-select me-2 w-auto">
                    <option value="">Todas Categorias</option>
                    <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}" th:text="${cat.nome}">
                    </option>
                </select>

                <div class="position-relative me-2" style="flex: 1; min-width: 250px;">
                    <input type="text" id="search-product" name="termo" class="form-control"
                        placeholder="Buscar produto..." autocomplete="off">
                </div>

                <button type="submit" class="btn btn-primary" id="search-btn">Buscar</button>
            </form>
            <div class="card mb-4">

            </div>
            <div id="tabela-produtos" th:fragment="produtos" class="table-responsive">
                <table class="table table-striped table-hover table-bordered rounded shadow-sm">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço Atual</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Estoque Mínimo</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="produto : ${produtos}">
                            <td th:text="${produto.idProduto}"></td>
                            <td th:text="${produto.nome}"></td>
                            <td th:text="${produto.precoAtual}"></td>
                            <td style="max-width: 200px" th:text="${produto.descricao}">
                            </td>
                            <td th:text="${produto.estoqueMin}"></td>
                            <td>
                                <span class="badge bg-info text-dark" th:text="${produto.categoria.nome}"></span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary me-2" th:attr="data-id=${produto.idProduto}">Editar</button>
                                <button class="btn btn-sm btn-outline-danger" th:attr="data-id=${produto.idProduto}">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Novo Produto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>

                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">ID</label>
                                    <input type="text" id="modal-produto-idProduto" class="form-control" disabled>
                                    <input type="hidden" name="is-new" id="is-new">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nome</label>
                                    <input type="text" id="modal-produto-nome" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Categoria</label>
                                    <select id="modal-produto-categoria-id" class="form-select me-2">
                                        <option value="">Selecione uma categoria</option>
                                        <option th:each="cat : ${categorias}" th:value="${cat.idCategoria}" th:text="${cat.nome}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Preço</label>
                                    <input type="number" step="0.1" min="0.1" value="0.1" id="modal-produto-preco"
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descrição</label>
                                    <input type="text" id="modal-produto-descricao" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Estoque Mínimo</label>
                                    <input type="number" id="modal-produto-estoque-min" class="form-control" value="1"
                                        min="1">
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button class="btn btn-success" id="confirm-register" data-action="confirm-modal">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>