<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Relatórios</title>
</head>

<body>

    <div layout:fragment="content">

        <div class="container py-4" th:fragment="content" data-page-id="relatorios">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="mb-0">Relatórios de Vendas</h1>
                <a th:if="${vendas.totalElements > 0}" th:href="@{/api/venda/export(dataInicio=${start},dataFim=${end})}">
                    <button id="new-compra" class="btn btn-success">Exportar</button>
                </a>
                <a th:unless="${vendas.totalElements > 0}">
                    <button id="new-compra" class="btn btn-success" disabled>Exportar</button>
                </a>          
            </div>

            <form hx-get="/relatorios/vendas" hx-target="#resultado-relatorio" hx-swap="innerHTML" hx-push-url="true"
                class="row g-3 mt-4 mb-4">
                <div class="col-md-4">
                    <label for="start">Data inicial</label>
                    <input type="date" class="form-control" th:value="${start} ?: ''" name="start" required>
                </div>
                <div class="col-md-4">
                    <label for="end">Data final</label>
                    <input type="date" class="form-control" th:value="${end} ?: ''" name="end" required>
                </div>
                <div class="col-md-4 align-self-end">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>

            <div th:fragment="resultado" th:replace="~{fragments/relatorio :: resultado}"></div>

        </div>
    </div>
</body>

</html>