<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Relatórios</title>
</head>

<body>

    <div layout:fragment="content">

        <div class="container py-4" th:fragment="content" data-page-id="relatorios">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="mb-0">Relatórios</h1>
            </div>

        </div>

    </div>
</body>

</html>